body
{
    background-color: #f5f5f5;
}

header
{
    background-color: #011e29;
    color: white;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

#container
{
    display: flex;
}


.latest-news-section
{
    width: 200px;
    height: 150px;
    text-align: center;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.pictorial-news-section
{
    width: 250px;
    height: 200px;
    text-align: center;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 5px;
}

#img
{
    width: 250px;
    height: 300px;
    text-align: center;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 5px;
    justify-content: center;
}
img
{
	width: 120px;
	height: 70px;
}
